<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Run AMCL -->
    <include file="$(find amcl)/examples/amcl_omni.launch" />

    <!-- Start navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find motor_node)/params/move_base_params.yaml" command="load" />
        <rosparam file="$(find motor_node)/params/base_local_planner_params.yaml" command="load" />
        <rosparam file="$(find motor_node)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find motor_node)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find motor_node)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find motor_node)/params/local_costmap_params.yaml" command="load" />

        <remap from="odom" to="/zed/zed_node/odom" />
        <remap from="map" to="/rtabmap/grid_map" />
    </node>
</launch>
