<?xml version="1.0"?>
<launch>
	<!-- rviz -->
	<arg name="model" default="$(find motor_node)/xacro/robot.xacro" />
	<arg name="rvizconfig" default="$(find motor_node)/rviz/motor_node.rviz" />

	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<param name="use_gui" value="true"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

	<!-- other -->
	<node name="rqt_grapth" pkg="rqt_graph" type="rqt_graph" output="screen" />
	<node name="rqt_console" pkg="rqt_console" type="rqt_console" output="screen" />
</launch>

